html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    color: #264653;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 15px;
    width: 90vw;
    margin: auto;
    justify-content: space-around;
}

.blog-home {
    grid-template-columns: 100%;
    grid-template-areas:
        "nav"
        "banner"
        "content"
        "footer";
}

.blog-post {
    grid-template-columns: 100%;
    grid-template-areas:
        "nav"
        "banner"
        "content"
        "aside"
        "footer";
}

.navigation {
    width: 100%;
    grid-area: nav;
    background-color: #21295c;
    border-radius: 5px;
    margin: auto;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding-left: 5px;
    margin: 10px;
}

.nav-items li {
    margin: 10px;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
}

#search-form {
    margin: 0 10px 10px 10px;
    padding: 10px;
}

#search-form span {
    color: #fff;
}

#search-form input {
    border-radius: 5px;
    border-color: #21295c;
    border-width: 0;
    resize: horizontal;
}

#sitename a {
    color: #E76F51;
    font-weight: bold;
    font-size: 1.5em;
}

.banner {
    grid-area: banner;
}

.banner img {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 5px;
}

.banner span {
    font-style: italic;
    color: #E76F51;
}

.banner-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.prof-pic {
    margin: 10px;
}

.prof-pic img {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #8d99ae;
}

.banner-bottom a {
    color: #21295c;
}

blockquote {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.post-content {
    grid-area: content;
}

.post-content h2:nth-child(1) {
    padding-top: 0;
    margin-top: 0;
}

.post-content p {
    text-align: justify;
    line-height: 2.5;
}

.aside {
    grid-area: aside;
}

.about {
    background-color: #e7ecef;
    border-radius: 5px;
    padding: 15px;
}

.aside h3 {
    color: #21295c;
}

.archives ul {
    list-style: none;
    padding-left: 0;
}

.archives li {
    padding-bottom: 5px;
}

.archives a {
    text-decoration: none;
    color: #E76F51;
}

#subscribe-form label {
    margin-bottom: 10px;
}

.subs {
    border: 1px solid #264653;
    border-radius: 5px;
    padding: 15px;
}

#subscribe-form {
    resize: vertical;
    width: 100%;
    height: auto;
    margin: auto;
}

#subscribe-form input {
    margin: 10px auto;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    border-width: 1px;
    outline: none !important;
    box-sizing: border-box;
}

#subscribe-form input:focus {
    border: 2px solid #21295c;
}

#subscribe-form input[type="submit"] {
    color: #fff;
    font-family: inherit;
    font-size: 1em;
    height: auto;
    margin: 15px auto;
    background-color: #21295c;
}

#subscribe-form input[type="submit"]:hover {
    color: #21295c;
    background-color: #e7ecef;
    cursor: pointer;
}

.jumbo {
    background-color: #e7ecef;
    width: 100%;
    height: 200px;
    grid-area: banner;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;
    border-radius: 5px;
}

.jumbo-text {
    width: 48%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 2vw;
}

.jumbo q {
    font-style: italic;
    text-justify: auto;
    width: auto;
    margin: auto;
    font-size: 3vw;
    overflow-wrap: normal;
}

.jumbo h1 {
    margin: auto;
    padding: 5px;
    overflow-wrap: break-word;
    font-size: 1.2em;
}

.jumbo-img {
    width: 45%;
    height: 100%;
}

.jumbo-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: space-between;
    margin: auto;
}

.post-card {
    border: 1px solid #8d99ae;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px #8d99ae;
}

.post-card-header {
    margin: 0;
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: 30% 70%;
    grid-template-rows: 40% 60%;
}

.avatar {
    grid-column: 1;
    grid-row: 1/span 2;
    margin: 0;
}

.avatar img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    box-sizing: border-box;
    border-radius: 20%;
}

.avatar figcaption {
    padding-left: 20%;
}

.post-card h3 {
    grid-column: 2;
    grid-row: 1;
    margin: auto auto auto 10px;
    font-size: 1.5em;
}

.post-card-header span {
    grid-column: 2;
    grid-row: 2;
    margin:0 auto auto 10px;
    font-style: italic;
    color: #E76F51;
}

.post-card p {
    margin: 10px auto;
    text-align: justify;
    line-height: 1.5;
}

.read-more {
    color: #21295c;
    text-align: center;
    height: auto;
    width: 50%;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 2px;
    border-radius: 5px;
    float: right;
    border: 1px solid #E76F51;
}

.read-more:hover, svg:hover {
    cursor: pointer;
}

footer {
    border: 1px solid #21295c;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    grid-area: footer;
    background-color: #21295c;
    position: relative;
}

.socials {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.socials a {
    text-decoration: none;
    color: #e7ecef;
    margin: 15px;
}

.footer-contents > p {
    text-align: center;
    color: #e7ecef;
}

footer.footer-contents {
    margin: 0;
    padding: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
