@media (min-width:1101px) {
    .container {
        grid-gap: 35px;
        margin: auto;
        justify-content: space-between;
        font-size: 1.3em;
    }

    .blog-post {
        grid-template-columns: 67% 28%;
        grid-template-areas:
            "nav nav"
            "banner banner"
            "content aside"
            "footer footer";
    }

    .navigation {
        margin: auto;
        width: 100%;
    }

    .navbar{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav-items {
        flex-direction: row;
        column-gap: 20px;
        justify-content: space-between;
        align-items: center;
    }

    blockquote {
        font-size: 1.2em;
    }

    .banner img {
        height: 500px;
        object-fit: cover;
        margin: auto;
        border-radius: 5px;
    }

    .aside {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .jumbo {
        height: 413px;
        width: 99.9%;
        display: flex;
        flex-flow: row nowrap;
    }

    .jumbo h1 {
        font-size: 3.5vw;
        margin: auto;
    }

    .jumbo q {
        font-size: 1.6vw;
        margin: auto;
    }

    .jumbo-text {
        margin: auto;
        padding: 20px;
        height: 100%;
        row-gap: 0;
    }

    .jumbo-img {
        width: 550px;
        height: 100%;
    }

    .jumbo-img img {
        max-width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 5px;
    }

    .content {
        margin: auto;
        flex-flow: row wrap;
        row-gap: 10px;
        justify-content: space-between;
    }

    .post-card {
        margin: 0;
        padding: 20px;
        width: 31%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .read-more {
        margin-top: 25px;
        width: 50%;
    }

    footer {
        margin: auto;
    }
}
